:root {
	--bg-col: #222;
	--bg-dark-col: #111;
	--bg-light-col: #333;
	--fg-col: #fff;
	--fg-dark-col: #fed;

	--primary-col: #FF7400;
	--primary-light-col: #FF921D;

	--bad-col: #b33;
	--bad-light-col: #f44;
	--good-col: #292;
	--good-light-col: #4f4;

	--discord-col: #5865F2;
	--discord-hover-col: #7c87fd;

	--shadow-col: rgba(0, 0, 0, 0.5);

	--link-col: var(--fg-dark-col);
	--link-hover-col: var(--primary-col);
	--header-col: var(--bg-dark-col);
	--btn-col: var(--primary-col);
	--btn-hover-col: var(--primary-light-col)
}

* {
	margin: 0;
	padding: 0;
	line-height: 1;
	box-sizing: border-box;
}

body {
	color: var(--fg-col);
	background-color: var(--bg-col);
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

a {
	color: var(--link-col);
	text-decoration: none;
}

a:hover {
	color: var(--link-hover-col);
	text-decoration: underline;
}

hr {
	margin-top: 2vw;
	margin-bottom: 2vw;
}

/*
 * PAGE LAYOUT
 */

#home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	overflow: hidden;
	flex: 1;
}

#home-content {
	max-width: 50vw;
}

.header {
	text-align: center;
	background-color: var(--header-col);
	font-size: 16px;
	display: flex;
	align-items: center;
}

.header h2 {
	font-size: 16px;
	display: inline;
}

.header-titlebar {
	padding: 8px 16px;
	flex: 1;
}

.header-button {
	padding: 6px 8px;
	cursor: pointer;
	border-radius: 16px;
	background-color: var(--good-col);
	margin: 4px;
	font-weight: 700;
}

/*
 * FAVOURITES
 */

#fav-overlay {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--shadow-col);
}

#fav-panel {
	position: absolute;
	top: 0;
	right: 0;
	width: 400px;
	max-width: 100%;
	height: 640px;
	max-height: 100%;
	box-shadow: 0 8px 16px var(--shadow-col);
	display: flex;
	flex-direction: column;
}

#fav-content {
	flex: 1;
	overflow-y: scroll;
	background-color: var(--bg-light-col);
}

.fav-item {
	padding: 8px 16px;
	border-bottom: 1px solid var(--bg-col);
}

.fav-item.notice {
	padding: 12px 18px;
	background-color: var(--good-col);
	margin: 6px;
	border-radius: 6px;
	font-weight: 700;
}

/*
 * BUTTONS
 */

.button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

.button {
	display: inline-block;
	text-decoration: none;
	border: 0;
	cursor: pointer;
	background-color: var(--btn-col);
	color: var(--fg-dark-col);
	padding: 1vw 1.5vw;
	border-radius: 0.5vw;
	text-transform: uppercase;
	font-weight: 700;
	text-align: center;
	font-size: 1.5vw;
	box-shadow: 0 0.5vw 1.25vw var(--shadow-col);
}

.button:hover {
	background-color: var(--btn-hover-col);
	color: var(--fg-col);
	text-decoration: none;
}

.discord {
	background-color: var(--discord-col);
	color: var(--fg-col);
}

.discord:hover {
	background-color: var(--discord-hover-col);
}

/*
 * TYPOGRAPHY
 */

body,
input,
button,
select {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
	font-size: 3vw;
}

p,
li {
	font-size: 1.75vw;
}

h1,
p,
li {
	margin-bottom: 1.75vw;
}

ol,
ul {
	margin-left: 3vw;
}

/*
 * GAME
 */

#game {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: center;
}

#buttons {
	display: grid;
	margin: 0 auto;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "bad good";
	column-gap: 16px;
	row-gap: 16px;
	padding-bottom: 32px;
}

#buttons .button {
	border: 0.4vw solid transparent;
}

#words {
	padding: 4vw;
	display: flex;
	flex-direction: row;
}

#word-left,
#word-right {
	padding: 2vw;
	font-size: 32px;
	font-size: 4.8vw;
	flex: 1;
	font-weight: 700;
}

#word-left {
	text-align: right;
}

#word-right {
	text-align: left;
}

#btn-bad {
	grid-area: bad;
	background-color: var(--bad-col);
}

.filler {
	grid-area: filler;
	display: none;
}

#btn-bad:hover {
	border: 0.4vw solid var(--bad-light-col);
}

#btn-good {
	grid-area: good;
	background-color: var(--good-col);
}

#btn-good:hover {
	border: 0.4vw solid var(--good-light-col);
}

@media (max-width: 800px) {
	h1 {
		font-size: 32px;
		margin-bottom: 24px;
	}

	p,
	li {
		font-size: 20px;
		margin-bottom: 24px;
	}

	ol,
	ul {
		margin-left: 24px;
	}

	hr {
		margin-top: 24px;
		margin-bottom: 24px;
	}

	#words {
		flex-direction: column;
	}

	#word-left,
	#word-right {
		text-align: center;
		font-size: 32px;
		padding: 4px;
	}

	#buttons {
		padding: 32px;
	}

	.button {
		font-size: 16px;
		padding: 12px 24px;
	}
}

@media (max-width: 640px) {
	#buttons {
		flex: 1;
		align-items: flex-end;
		margin: 0;
		grid-template-rows: auto 48px;
		grid-template-areas:
			"filler filler"
			"bad good";
	}

	#fav-panel {
		width: 100%;
		height: 100%;
	}

	.filler {
		display: block;
	}
}
