<div id="home">
	<main id="home-content">
		<h1>Double Word Generator</h1>
		<ol>
			<li>Put two random words together</li>
			<li>Vote good or bad with everyone else</li>
			<li>Repeat for hours!</li>
		</ol>
		<a class="button discord" href="/login/auth">Login with Discord</a>
		<hr>
		<p><small>Alternatively, use <u><a href="https://www.tombo.sh/releases/wordgen/">the old version</a></u>, which doesn't vote with everyone else</small></p>
	</main>
</div>
